@media screen and (min-width: 1024px) {

    html, body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .foreground-content {
        margin: 3% 7% 0% 7%;
    }

    .top-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .top-container-text {
        flex-basis: 35%;
        text-align: start;
        width: 40ch;
    }

    .reviews-container {
        flex-basis: 60%;
        margin-top: 5%;
    }

    .review-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: auto;
        height: 30px;
    }

    .first-review{
        margin-right: 80px;
    }

    .second-review {
        margin-right: 40px;
        margin-left: 40px;
    }

    .third-review {
        margin-left: 80px;
    }

    .citations-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 0px;
    }

    .card {
        padding-left: 25px;
        padding-right: 25px;
    }

    .first-card {
        margin-bottom: 30px;
    }

    .second-card {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .third-card {
        margin-top: 30px;
    }
    
}

@media screen and (min-width: 1440px) {
    .container {
        margin: 0% 20% 0% 20%;
    }
}

